<main class="container">
  <section>
    <h1>All Foods</h1>
    <ul id="all_foods" class="listing-resource-container">
      <%= render partial: 'foods/food', collection: @foods %>
    </ul>
  </section>

  <section>
    <turbo-frame id='new_food'>
      <%= link_to 'New Food', new_food_path %> 
    </turbo-frame>
  </section>
</main>
