<main class="container">
  <ul>
    <% @tables.each do |table| %>
      <li>
        <p>Name: <%= table.name %></p>
        <p>Description: <%= table.description %></p>
        <% if table.user %>
          <span class='reserved'>reserved</span>
        <% else %>
          <span class='available'>available</span>
          <%= button_to 'Reserve', '/reservations', name: 'table_id', value: table.id %>
        <% end %>
      </li>
    <% end %>
  </ul>
</main>
