<main class="container">
  <section>
    <h1>All Tables</h1>
    <div>
      <% @tables.each do |table| %>
        <turbo-frame id="table_<%= table.id %>">
          <p><%= table.name %> <%= link_to 'edit', edit_table_path(table) %></p>
        </turbo-frame>
      <% end %>
    </div>
  </section>

  <section>
    <turbo-frame id='new_table'>
      <%= link_to 'New Table', new_table_path %> 
    </turbo-frame>
  </section>
</main>
