<main class="container">
  <section>
    <h1>All Tables</h1>
    <ul id="all_tables" class="listing-resource-container">
      <%= render partial: 'tables/table', collection: @tables %>
    </ul>
  </section>

  <section>
    <turbo-frame id='new_table'>
      <%= link_to 'New Table', new_table_path %> 
    </turbo-frame>
  </section>
</main>
